github "Alamofire/Alamofire" ~> 4.4
github "Weebly/Cereal" ~> 1.3.0
github "edualm/Charts" ~> 3.0.2
github "realm/realm-cocoa"
github "goktugyil/EZLoadingActivity"
github "evgenyneu/SigmaSwiftStatistics" ~> 6.0
