<h1>About</h1>

<hr />

<p>Professionals in the field of software engineering often have not so good days,
    where they are not as focused or as productive, but also have excellent days,
    where they complete more work than they ever considered feasible. There must be
    reasons behind this phenomenon, and the answers are normally hard to acquire,
    at least without a help of a dedicated tool to do so. Unfortunately, there is none
    at the moment.</p>

<br />

<p>There are tools that analyze metrics from a person’s life, and others that
    analyze the quality of the code written by a given person. There are, though,
    no tools that relate these two. They are not, nevertheless, completely unrelated.</p>

<br />

<p>As of that, this tool was developed in order to fill this gap. It was proposed
    by the Software Engineering Research Group at Faculdade de Engenharia da
    Universidade do Porto, on the context of Agile methods, a subject related
    to software engineering, and developed by
    <a href="http://paginas.fe.up.pt/~ei12018">Eduardo Almeida</a>.</p>
